.viewport:global(.is-draggable) {
	cursor: grab;
}

.viewport:global(.is-dragging) {
	cursor: grabbing;
}

.container {
	user-select: none;
}

.slide {
	flex: 0 0 auto;
	max-width: min(80%, 650px);
	opacity: 0.4;
	transition: opacity 0.4s;
	@apply mx-2 lg:mx-8
}

.slide:global(.active) {
	opacity: 1;
}